
<!-- Modal -->
<div class="modal fade" id="postupleniya" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Внесение ДС за {{now}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('ooo_append') }}"  method="post">


                <div class="form-group">
                    <label for="exampleFormControlSelect1">Куда внесение</label>
                    <select class="form-control" name="sis_nalog" id="exampleFormControlSelect1">
                        <option>Расчетный счет</option>
                        <option>На карту</option>
                        <option>Наличка</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Сумма</label>
                    <input type="text" name="name_company" class="form-control" placeholder="Сумма" required>
                </div>
                

                <div class="form-group">
                    <label for="exampleFormControlSelect1">За что внесение</label>
                    <select class="form-control" name="vid_uslugi" id="get_usluga_ooo_vedenie">
                        <option>Возврат</option>
                        <option>Выручка</option>
                        <option>Прочие</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Комментарий</label>
                    <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success">Добавить</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="rashod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Расходы за {{now}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
              ...
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-success">Добавить</button>
          </div>
      </div>
    </div>
</div>


<style>
    .modal-xl{
      max-width: 90% !important;
    }

</style>