{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->

                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start. Этот класс нельзя удалять, так как не будет работать сдвижение экрана -->
                        <div class="row">
                            <!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Действующие должники</h5>
                                        <button type="button" class="btn btn-square btn-info float-right"
                                            data-toggle="modal" data-target=".append_debitor"> <i
                                                class="fa fa-plus-circle" aria-hidden="true"></i> Добавить</button>
                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Название</th>
                                                        <th>ФИО</th>
                                                        <th>ИНН</th>
                                                        <th>Общая сумма долга</th>
                                                        
                                                        <th>Квартал</th>
                                                        <th>Год</th>
                                                        <th>Телефон</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for el in client_debitor %}
                                                    <tr>
                                                        <th scope="row">{{el.id}}</th>
                                                        <td>{{el.name_company}}</td>
                                                        <td>{{el.fio_contact}}</td>
                                                        <td>{{el.inn_company}}</td>
                                                        <td>{{el.inn_company}}</td>
                                                        
                                                        <td>{{el.kvartal}}</td>
                                                        <td>{{el.god}}</td>
                                                        <td>{{el.tel_number}}</td>
                                                        <td>{{el.comment}}</td>
                                                        <!--<td><button type="button" class="btn btn-square"
                                                                title="Нажмите, что бы открыть полную карточку"
                                                                data-toggle="modal"
                                                                data-target=".bd-example-modal-lg">ПОДРОБНЕЕ</button>
                                                        </td>-->
                                                        <td><button type="submit" class="btn btn-outline-success"
                                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                                data-toggle="tooltip">ПОЗВОНИТЬ</button></td>

                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Hover-table ] end -->

                            <!-- Large modal -->

                            <!-- Large modal end -->


                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% include 'debitor_form_append.html'%}

{% endblock %}