<!-- Форма добавления должника-->
<div class="modal fade append_debitor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="col-md-12">
                <form action="{{ url_for('debitor_form_append') }}" method="post">
                    <div class="form-group">
                        <label>Наименование</label>
                        <input type="text" name="name_company" class="form-control"
                               placeholder="Введите наименование организации">
                        <label>ИНН</label>
                        <input type="number" name="inn_company" class="form-control"
                               placeholder="Введите ИНН организации">
                        <label>Контактное лицо</label>
                        <input type="text" name="fio_contact" class="form-control" placeholder="ФИО Контактного лица"
                               required>
                        <label>Телефон</label>
                        <input type="text" name="tel_number" id="phone" class="form-control phone" placeholder="Телефон"
                               required>
                        <label>Сумма долга</label>
                        <input type="number" name="summ_deb" class="form-control" placeholder="Общая сумма долга">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Период</label>
                        <select class="form-control" name="kvartal" id="exampleFormControlSelect1">
                            <option>1 квартал</option>
                            <option>2 квартал</option>
                            <option>3 квартал</option>
                            <option>4 квартал</option>
                        </select>
                        <label for="exampleFormControlSelect1">За какой год</label>
                        <select class="form-control" name="god" id="exampleFormControlSelect1">
                            <option>2020</option>
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Комментарий</label>
                        <textarea class="form-control" placeholder="Опишите подробно за какой квартал, какого года и какую сумму должен клиент" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" name="add_debitor" value="add_debit" class="btn btn-square btn-info float-right" title="btn btn-outline-secondary"
                        data-toggle="tooltip"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Форма добавления должника END-->