<!-- [ tabs ] start -->
<div class="col-sm-12 ">
    <h5>Индивидуальные предприниматели</h5>
    <hr>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#ip_vedenie" role="tab"
                aria-controls="home" aria-selected="true">Ведение</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase" id="profile-tab" data-toggle="tab" href="#ip_razoviy" role="tab"
                aria-controls="profile" aria-selected="false">Разовые</a>
        </li>
    </ul>
    <!-- -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ip_vedenie" role="tabpanel" aria-labelledby="home-tab">
            <!-- [ Hover-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-square btn-info float-left" data-toggle="modal"
                            data-target=".client_ip_append"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Добавить
                            ведение</button>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Название</th>
                                        <th>ИНН</th>
                                        <th>Телефон</th>
                                        <th>email</th>
                                        <th>Кол-во сотрудников</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>ИП Петров</td>
                                        <td>63475236534</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>3</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"> <i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>ИП Чичиков</td>
                                        <td>87348763497</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>4</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Hover-table ] end -->
        </div>

        <div class="tab-pane fade" id="ip_razoviy" role="tabpanel" aria-labelledby="profile-tab">
            <!-- [ Hover-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-square btn-info float-left" data-toggle="modal"
                            data-target=".append_client"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Добавить
                            разовый</button>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Название</th>
                                        <th>ИНН</th>
                                        <th>Телефон</th>
                                        <th>email</th>
                                        <th>Кол-во сотрудников</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>ИП Петров</td>
                                        <td>63475236534</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>3</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"> <i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>ИП Чичиков</td>
                                        <td>87348763497</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>4</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>ИП Макаров</td>
                                        <td>783486236</td>
                                        <td>788898887</td>
                                        <td>mail@mail.ru</td>
                                        <td>1</td>
                                        <td><button type="button" class="btn btn-square float-right"
                                                title="Нажмите, что бы открыть полную карточку" data-toggle="modal"
                                                data-target=".bd-example-modal-lg"><i class="fa fa-question"
                                                    aria-hidden="true"></i>ПОДРОБНЕЕ</button>
                                        </td>
                                        <td><button type="button" class="btn btn-outline-success float-right"
                                                title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер"
                                                data-toggle="tooltip"><i class="fa fa-phone"
                                                    aria-hidden="true"></i>ПОЗВОНИТЬ</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Hover-table ] end -->
        </div>
    </div>
</div>

{% include 'client_ip_append.html' %}