<!doctype html>
<html lang="en">

<head>
    <title>Вход</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="CodedThemes" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/animation/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/vendor-all.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/pcoded.min.js')}}"></script>
    <title>{% block title  %}{% endblock %}</title>

</head>
<!-- Удалил ссылку на форму регистрации -->

<body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <form method="post" class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Вход</h3>
                    {% if error %}
                    <p class=error><strong>Ошибка:</strong> {{ error }}
                    {% endif %}
                    <div class="input-group mb-3">
                        <input type="login" name="login" class="form-control" required placeholder="Логин">
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" name="password" class="form-control" required placeholder="Пароль">
                    </div>
                    <button class="btn btn-primary shadow-3 mb-4">Войти</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>