{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}


    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start. Этот класс нельзя удалять, так как не будет работать сдвижение экрана -->
                            <div class="row">
                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Текущие клиенты</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Название</th>
                                                            <th>Форма организации</th>
                                                            <th>Телефон</th>
                                                            <th>email</th>
                                                            <th>Адрес</th>
                                                            <th>Действие</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>ООО Ромашка</td>
                                                            <td>Общество с ограниченной ответстенностью</td>
                                                            <td>788898887</td>
                                                            <td>mail@mail.ru</td>
                                                            <td>Китай Город</td>
                                                            <td><button type="button" class="btn btn-outline-success" title="btn btn-outline-success" data-toggle="tooltip">ПОЗВОНИТЬ</button></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>ООО Ромашка</td>
                                                            <td>Общество с ограниченной ответстенностью</td>
                                                            <td>788898887</td>
                                                            <td>mail@mail.ru</td>
                                                            <td>Китай Город</td>
                                                            <td><button type="button" class="btn btn-outline-success" title="btn btn-outline-success" data-toggle="tooltip">ПОЗВОНИТЬ</button></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>ООО Ромашка</td>
                                                            <td>Общество с ограниченной ответстенностью</td>
                                                            <td>788898887</td>
                                                            <td>mail@mail.ru</td>
                                                            <td>Китай Город</td>
                                                            <td><button type="button" class="btn btn-outline-success" title="btn btn-outline-success" data-toggle="tooltip">ПОЗВОНИТЬ</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->

{% endblock %}