{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}


    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start. Этот класс нельзя удалять, так как не будет работать сдвижение экрана -->
                            <div class="row">
                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Текущие клиенты</h5>
                                            <button type="button" class="btn btn-square btn-info float-right" data-toggle="modal" data-target=".append_client"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить</button>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Название</th>
                                                            <th>ИНН</th>
                                                            <th>Телефон</th>
                                                            <th>email</th>
                                                            <th>Система Налогообложения</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>ООО Ромашка</td>
                                                            <td>63475236534</td>
                                                            <td>788898887</td>
                                                            <td>mail@mail.ru</td>
                                                            <td>УСН</td>
                                                            <td><button type="button" class="btn btn-square float-right" title="Нажмите, что бы открыть полную карточку" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-question" aria-hidden="true"></i>ПОДРОБНЕЕ</button></td>
                                                            <td><button type="button" class="btn btn-outline-success float-right" title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер" data-toggle="tooltip"> <i class="fa fa-phone" aria-hidden="true"></i>ПОЗВОНИТЬ</button></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>ООО Ромашка</td>
                                                            <td>87348763497</td>
                                                            <td>788898887</td>
                                                            <td>mail@mail.ru</td>
                                                            <td>УСН</td>
                                                            <td><button type="button" class="btn btn-square float-right" title="Нажмите, что бы открыть полную карточку" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-question" aria-hidden="true"></i>ПОДРОБНЕЕ</button></td>
                                                            <td><button type="button" class="btn btn-outline-success float-right" title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер" data-toggle="tooltip"><i class="fa fa-phone" aria-hidden="true"></i>ПОЗВОНИТЬ</button></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>ООО Ромашка</td>
                                                            <td>783486236</td>
                                                            <td>788898887</td>
                                                            <td>mail@mail.ru</td>
                                                            <td>УСН</td>
                                                            <td><button type="button" class="btn btn-square float-right" title="Нажмите, что бы открыть полную карточку" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-question" aria-hidden="true"></i>ПОДРОБНЕЕ</button></td>
                                                            <td><button type="button" class="btn btn-outline-success float-right" title="Если клиент не ответит на звонок, система автоматически позвонит на следующий номер" data-toggle="tooltip"><i class="fa fa-phone" aria-hidden="true"></i>ПОЗВОНИТЬ</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->
                                <!-- Large modal -->
                                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          Тут формируется карточка клиента. Передается информация о клиенте которая тянется из базы данных
                                        </div>
                                      </div>
                                    </div>
                                <!-- Large modal end -->

                                <!-- Модальное окно добавления клиента -->
                                    <div class="modal fade append_client" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          Тут формируется карточка клиента. Передается информация о клиенте которая тянется из базы данных
                                        </div>
                                      </div>
                                    </div>
                                <!-- Large modal end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->

{% endblock %}