<!-- Форма добавления клиента ООО на ведение-->
<div class="modal fade client_ooo_append_vedenie" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label>Наименование ООО</label>
                        <input type="text" class="form-control" placeholder="Введите наименование ООО" required>

                        <label>ИНН</label>
                        <input type="number" class="form-control" placeholder="Введите ИНН" required>

                        <label>ОГРН</label>
                        <input type="number" class="form-control" placeholder="Введите ОГРН" required>

                        <label>КПП</label>
                        <input type="number" class="form-control" placeholder="Введите КПП" required>

                        <label>Дата регистрации</label>
                        <input type="date" class="form-control" placeholder="Когда зарегистрирована организация" required>

                        <label>Генеральный директор</label>
                        <input type="text" class="form-control" placeholder="ФИО ГенДира" required>

                        <label>Контактное лицо</label>
                        <input type="text" class="form-control" placeholder="ФИО Контактного лица" required>

                        <label>Вид деятельности</label>
                        <input type="text" class="form-control" placeholder="Чем занимается клиент" required>

                        <label>Телефон</label>
                        <input type="number" class="form-control" placeholder="Телефон" required>

                        <label>e-mail</label>
                        <input type="email" class="form-control" placeholder="Электронная почта" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Система налогообложения</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>УСН</option>
                            <option>ЕНВД</option>
                            <option>Патент</option>
                            <option>ЕСХН</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Вид услуги</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Услуга 1</option>
                            <option>Услуга 2</option>
                            <option>Услуга 3</option>
                            <option>Услуга 4</option>
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Комментарий</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-square btn-info float-right" title="btn btn-outline-secondary"
                        data-toggle="tooltip"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Форма добавления ООО END-->

<!-- Форма добавления клиента ООО разовая-->
<div class="modal fade client_ooo_append_razoviy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label>Наименование ООО</label>
                        <input type="text" class="form-control" placeholder="Введите наименование ООО" required>

                        <label>ИНН</label>
                        <input type="number" class="form-control" placeholder="Введите ИНН" required>

                        <label>ОГРН</label>
                        <input type="number" class="form-control" placeholder="Введите ОГРН" required>

                        <label>КПП</label>
                        <input type="number" class="form-control" placeholder="Введите КПП" required>

                        <label>Дата регистрации</label>
                        <input type="date" class="form-control" placeholder="Когда зарегистрирована организация" required>

                        <label>Генеральный директор</label>
                        <input type="text" class="form-control" placeholder="ФИО ГенДира" required>

                        <label>Контактное лицо</label>
                        <input type="text" class="form-control" placeholder="ФИО Контактного лица" required>

                        <label>Вид деятельности</label>
                        <input type="text" class="form-control" placeholder="Чем занимается клиент" required>

                        <label>Телефон</label>
                        <input type="number" class="form-control" placeholder="Телефон" required>

                        <label>e-mail</label>
                        <input type="email" class="form-control" placeholder="Электронная почта" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Система налогообложения</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>УСН</option>
                            <option>ЕНВД</option>
                            <option>Патент</option>
                            <option>ЕСХН</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Вид услуги</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Услуга 1</option>
                            <option>Услуга 2</option>
                            <option>Услуга 3</option>
                            <option>Услуга 4</option>
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Комментарий</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-square btn-info float-right" title="btn btn-outline-secondary"
                        data-toggle="tooltip"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Форма добавления ООО END-->